{
    "jsc": {
        "target": "es2020",
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true
        },
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        }
    },
    "module": {
        "type": "commonjs",
        "strict": false,
        "lazy": true
    },
    "minify": false
}